<main>
 <div class="p-5 mb-4 bg-light rounded-3">
 <div class="container-fluid py-5">
 <h2>Lista de Produtos</h2>
 <hr>
 <a href="/rota_produto/produto/add">
 <button class="btn btn-success">Novo produto</button></a>
 {{#each produtos}}
 <div class="card mt-4">
 <div class="card-body">
 <h4><b>ID:</b>{{id_produto}}</h4>
 <small><b>Descrição:</b> {{descricao}} </small><br>
 <small><b>Valor unitário:</b> {{preco}} </small><br>
 <small><b>Quantidade:</b> {{quantidade}} </small><br>
 <!--Botão para editar produto-->
 <a href="/rota_produto/editar_produto/{{id_produto}}">
 <button class="btn btn-success mt-3">
 Editar Produto
 </button>
 </a>
 <!--botão para deletar produto-->
 <a href="/rota_produto/deletar_produto/{{id_produto}}">
 <button class="btn btn-danger mt-3">
 Deletar produto
 </button>
 </a>
 </div>
 </div>
 {{/each}}
 </div>
 </div>
</main>