<main>
 <div class="p-5 mb-4 bg-light rounded-3">
 <div class="container-fluid py-5">
 <h2>Lista de Cadastros</h2>
 <hr>
 <a href="/rota_cliente/cliente/add">
 <button class="btn btn-success">Novo cadastro</button></a>
 
 {{#each clientes}}
 <div class="card mt-4">
 <div class="card-body">
 <h4><b>ID:</b>{{id_cliente}}</h4>
 <small><b>Nome:</b> {{nome}} </small><br>
 <small><b>Data de Nascimento:</b> {{dt_nasc}} </small><br>
 <small><b>CPF:</b> {{cpf}} </small><br>
 <small><b>E-mail:</b> {{email}} </small><br>
 <small><b>Senha:</b> {{senha}} </small><br>
 <!--Botão para editar cliente-->
 <a href="/rota_cliente/editar_cliente/{{id_cliente}}">
 <button class="btn btn-success mt-3">
 Editar cadastrado
 </button>
 </a>
 <!--botão para deletar cliente-->
 <a href="/rota_cliente/deletar_cliente/{{id_cliente}}">
 <button class="btn btn-danger mt-3">
 Deletar cadastro
 </button>
 </a> </div>
 </div>
 {{/each}}
 </div>
 </div>
</main>